//widget header
.widget{
    background: $subsubbackground;
    margin-bottom:$xl-size;
}

.widget__message{
    color:$off-white;
    margin:0;
    padding:$l-size;
    font-size: $m-size;
    text-align:center;
    border-bottom: 1px solid lighten( $subbackground, 10% )
}

.widget_header {
    background: $subbackground;
    color:  $off-white;
    padding: $m-size;
    display:flex;
    justify-content: space-between;
}

.widget_header__title{
    margin:0;
    font-size: $m-size;
    
}
